/* Color palette by http://clrs.cc */

*:focus {
  outline: 0;
}

body {
  margin: 0;
  font-size: 18px;
  background-color: #eee;
  height: 100vh;
  width: 100%;
}

body * {
  color: #333;
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
}

main {
  background: #4caf50;
  background: -moz-linear-gradient(-45deg,#4caf50 0%,#5c6bc0 100%);
  background: -webkit-linear-gradient(-45deg,#4caf50 0%,#5c6bc0 100%);
  background: linear-gradient(135deg,#4caf50 0%,#5c6bc0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4caf50',endColorstr='#5c6bc0',GradientType=1);
  height: 100%;
  width: 100%;
  z-index: -100000;
  overflow: hidden;
}

.content {
  max-width: 800px;
  margin: auto;
  display: block;
  padding: 10px;
  height: 100%;
  position: relative;
}

.nav {
  padding: 6px 8px;
  z-index: 2;
  top: 10px;
  box-sizing: border-box;
  background-color: rgba(255,255,255,0.8);
  border-radius: 2px;
  margin-bottom: 20px;
  color: #fff;
  position: fixed;
}

.nav button {
  background-color: transparent;
  box-shadow: 0 0 0 2px #001f3f;
  height: 40px;
  padding: 0 10px;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
  margin: 4px 2px;
  color: #001f3f;
}

.nav button:hover {
  border-radius: 5px;
  background-color: #001f3f;
  box-shadow: none;
  color: white;
}

.nav button a {
  transition: all 0.15s ease;
  color: #001f3f;
}

.nav button:hover a {
  transition: all 0.3s ease;
  color: white;
}

.box {
  margin: auto;
  padding: 10px;
  background-color: rgba(255,255,255,0.8);
  max-width: 400px;
  min-width: 100px;
  box-shadow: 0 1px 10px rgba(0,0,0,0.12);
  border-radius: 2px;
  margin-bottom: 20px;
}

.box h2 {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  color: #111;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  border-bottom: 1px solid #333;
  font-size: 28px;
}

.box p {
  font-size: 19px;
  margin: 2px 0 10px 0;
  width: 100%;
  text-align: center;
}

.box a {
  color: #0074D9;
  text-decoration: none;
  transition: all 0.3s ease;
}

.box a:hover {
  text-shadow: 0 0 5px #333;
}

.box img {
  margin: 0;
  filter: brightness(0%);
}

.center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  box-sizing: border-box;
  max-width: 400px;
  margin: auto;
  left: 0;
  right: 0;
  padding: 10px;
}

.section {
  width: 100%;
  background-color: #fff;
}

.section .inner {
  max-width: 800px;
  padding: 5px;
  box-sizing: border-box;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  margin: auto;
}

.section .inner.flex {
  display: flex;
}

.section .inner.flex .item {
  padding: 10px;
  background-color: rgba(0,0,0,0.6);
  border-radius: 2px;
  box-shadow: 0 1px 10px rgba(0,0,0,0.5);
  flex: 1;
  margin: 5px 5px 10px 5px;
  color: #fff;
}

.section .inner .item {
  padding: 10px;
  background-color: rgba(0,0,0,0.6);
  border-radius: 2px;
  box-shadow: 0 1px 10px rgba(0,0,0,0.5);
  margin: 5px 5px 10px 5px;
  color: #fff;
}

.section .inner .item * {
  color: #fff;
}

.section .inner .item h2 {
  color: #fff;
  font-size: 1.5rem;
  margin: 0 auto;
  display: block;
  width: 100%;
}

.section .inner .item p {
  color: #fff;
  font-size: 1rem;
  display: block;
  width: 100%;
  margin: 10px 0 0 0;
  overflow: auto;
  text-align: justify;
}

.section .inner.flex .item p {
  max-height: 100px;
}

.section .inner .item img {
  display: block;
  margin: 0 auto 5px auto;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.3);
}

.section .inner .item a {
  color: #FFDC00;
  font-weight: bold;
  text-decoration: none;
}

* .color-blue {
  color: #0074D9;
}

button a {
  text-decoration: none;
}

m {
  color: #ccc !important;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-thumb {
  background-color: #fafafa;
  transition: all 0.15s ease;
  border: 3px solid #555;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #ccc;
}
::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: #555;
}

@media (max-width: 400px) {
  .nav button {
    display: none;
  }
  .nav button.special {
    display: block;
  }
}

@media (max-width: 550px) {
  .section .inner.flex {
    max-width: 550px;
    flex: 0;
    display: block;
  }
}
